@import "./Clases-ID/Animaciones";
@import "./Clases-ID/Etiquetas";
@import "./Clases-ID/FlexBox";
@import "./Clases-ID/Grid";
@import "./Clases-ID/Imagenes";
@import "./Clases-ID/Margin";
@import "./Clases-ID/MediaQ";
@import "./Clases-ID/Nav";
@import "./Clases-ID/Texto";
@import "./Clases-ID/Títulos";

.imgLore--radius{
    border-radius: 10px;
}

.audios{
    border-color: white;
} 

.audios--red{
    border-style:double;
    border-radius: 15px;
}

.tituloPagina--principal{
    padding: 2px;
    border-style:ridge
}

.borderAudio{
    border: solid;
    
}

.borderAudio--second{
    border: solid;
    border-radius: 15px;
}

.TitulosTabla{
    color:rgb(248, 246, 246);
    font-family: 'Zilla Slab', serif;
}

.TitulosTabla--subrayado{
    text-decoration: underline;
}

.letraFamily--negrita{
    font-weight: bold;
}

.negritaLetra--subrayado{
    text-decoration: underline;
}

// Condicional //

$parrafo: 300px;

p{
    @if $parrafo < 200px {
        background-color: silver;        
    }
    @else if $parrafo > 300px{
        background-color: blue;
    }
    @else{
        background-color: black;
        color: rgb(248, 248, 248);
        border: 3px solid rgb(121, 117, 117);
        padding: 8px;
        overflow: scroll;
        height: 51vh;
        width: 34vw;
    }
}

// Each

@each $letra in 12px 15px 18px {
    .tamanioTabla-#{$letra}{
        font-size:$letra;
    }

}

// Mapas

$lista:(primero:black, segundo:rgb(16, 16, 73), tercero:silver);

@each $fondo, $texto in $lista {
    .parrafoFondo-#{$fondo}{
        background-color: $texto;
    }
}

// Extend

.logoImg{
    width: 170px;
    height: 170px;
}

.logoIndex{
    @extend .logoImg;
    border:solid 1px silver
}

// Mixin

@mixin tamImg($alto, $ancho, $borde){
    height: $alto;
    width: $ancho;
    border:solid rgb(121, 117, 117) $borde;
}

.imgPod{
    @include tamImg(316px, 580px, 3px)
}

.flexBoxFooter{
    display:flex;
    justify-content: space-between;
    align-items: center;
}