.gradianteFooter{
    background-image: linear-gradient(to bottom, rgb(231, 224, 224), black 50%);
}

.transformTranslate:hover{
    transform: rotateY(180deg);
    transition: transform 3s;
}

.imgLogo:hover{
    transform: scale(1.2);
}