.formFlexBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.margNombForm{
    margin-bottom: 40px;
    font-size: 50px;
}

.margDivEmail{
    margin-bottom: 20px;
    color: white;
}

.negritaLetra{
    font-weight: bold;
}

.tamEmail{
    width: 621px;
}

.btnInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.marginButton{
    margin-top: 10px;
}

.tamNomb{
    width: 620px;
}

.margDivNombre{
    margin-bottom: 10px;
    color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}

.margEmail{
    margin-right: 20px;
}

.margNomb{
    margin-right: 350px;
    margin-left: 350px;
}

.margCorreo{
    margin-right: 340px;
    margin-left: 340px;
}

.margTexto{
    margin-right: 250px;
    margin-left: 250px;
}

@media (max-width: 576px) {
    .tamCons{
        width: 400px;
    }
  
    .tamEmail{
      width: 350px;
    }
  
    .tamNomb{
      width: 240px;
    }
  }
  
  @media (max-width: 768px) {
    .tamCons{
        width: 550px;
    }
  
    .tamEmail{
      width: 450px;
    }
  
    .tamNomb{
      width: 340px;
    }
}