.imagenIndex{
    background-image: url("../Imagenes/fiesta-rave-mineria-monero.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* width: 1300px; */
    height: 600px;
}

.imgLore{
    height: 316px;
    width: 580px;
    border:solid 3px rgb(121, 117, 117);
    /* border-radius: 5%; */;
}

.imgSpotify{
    width: 57px;
    height: 57px;
}