.TitulosTabla{
    color:rgb(248, 246, 246);
    font-family: 'Zilla Slab', serif;
}

.TitulosTabla--subrayado{
    text-decoration: underline;
}

.letraFamily{
    font-family: Arial, Helvetica, sans-serif
}

.letraFamily--negrita{
    font-weight: bold;
}

.margEventos{
    margin-top: 70px;
}