.letraFamily{
    font-family: Arial, Helvetica, sans-serif
}

.textoJustificado{
    text-align: justify;
}

.textDecorado{
    text-decoration: underline;
    font-size: 0;
}

.negritaLetra{
    font-weight: bold;
}

.textGoogleFonts{
    font-family: 'Nunito', sans-serif;
}