.tituloPagina{
    font-style:arial;
    font-size: 45px;
    margin-left: 15px;
}

.fondoTitulo2{
    background-color: black;
    height: 8vh;
    width: 17.5vw;
}

.fondoTitulo3{
    background-color: black;
    height: 8vh;
    width: 13vw;
}

.fondoTitulo4{
    background-color: black;
    height: 8vh;
    width: 9vw
}

.fondoTitulo5{
    background-color: black;
    height: 8vh;
    width: 13vw
}

.imgLogo{
    width: 150px;
    height: 150px;
}

.fondoHeader{
    background-color: black;
}